%br
%p
  %strong Commenter:
  = comment.commenter
%p
  %strong Comment:
  = comment.body 
.btn-group
  %button.btn.btn-inverse{:href => "#"} 
    = link_to 'Destroy Comment', [comment.article, comment], |
    method: :delete,                                       |
    data: { confirm: 'Are you sure?' }                     |
%br
